<footer id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p1">
                <div class="text-center rotate">
                    <img src="../../../assets/images/Swasthify-logo-black.png" height="100 " width="100 " />
                </div>
                <br />
                <h1 class="swasthify grow text-center">SWASTHIFY</h1>
            </div>
            <div class="col-md-4 p1">
                <h3 style="text-align: center; color: white">CONNECT WITH US</h3>
                <hr class="light" />
                <ul class="social_icon d-flex justify-content-center">
                    <li>
                        <a href="https://www.linkedin.com/in/pranjay-poddar/" target="blank "><i class="fab fa-linkedin grow"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/pranjay-poddar/Swasthify" target="blank "><i class="fab fa-github grow"></i
            ></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/pranjay_poddar/" target="blank "><i class="fab fa-instagram grow"></i></a>
                    </li>
                </ul>
                <hr class="light" />
                <div class="text-center webarch-website grow2">
                    <a href="https://drift.me/swasthifyinfo" style="text-decoration: none" target="_blank">
            Swasthify Support</a
          >
        </div>
      </div>

      <div class="col-md-4 p1">
        <h3 style="text-align: center; color: white">QUICK LINKS</h3>
        <hr class="light" />
        <div class="text-center webarch-website grow2">
          <a href="/home#whoarewe"> About Us</a>
                </div>
                <div class="text-center webarch-website grow2">
                    <a href="https://www.termsfeed.com/live/5c0ce90f-4043-4391-bbb7-30c3b9c09154" target="_blank"> Privacy Policy</a>
                </div>
                <div class="text-center webarch-website grow2">
                    <a href="https://www.termsfeed.com/live/d24c30db-05e9-49b7-99a4-53b7165ca931" target="_blank"> Terms & Condition</a>
                </div>
            </div>
            <div class="col-12 p1">
                <hr class="light-100" />
                <h3 style="text-align: center; color: white">©Team Swasthify 2021</h3>
            </div>
        </div>
    </div>
</footer>