.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-gap: 94px;
  grid-auto-flow: column;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  }
}

.footer-link {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
    color: #ffffff;
  }

  @media (max-width: 1000px) {
    font-size: 15px;
  }
}
.heading {
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}

.contactUsBox {
  position: relative;
  bottom: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
}
.main {
  display: flex;
  justify-content: space-between;
}
.wave_class {
  display: block;
  width: 100%;
  height: 15rem;
  margin: auto;
}
.image-s {
  padding-bottom: 5%;
}
.middleText {
  position: absolute;
  bottom: 3rem;
  left: 7rem;
  color: rgb(18, 164, 217);
  font-size: 1rem;
  font-weight: 600;
}
.last-text {
  position: absolute;
  bottom: 0.5rem;
  left:45%;
}

.iconContent {
  top: 0;
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.icons {
  display: inline-block;
  background-color: #d0d0d0;
  border-radius: 100%;
  padding: 12%;
}

.connectUsContent {
  right: 10rem;
  position: absolute;
  bottom: 3rem;
}

@media screen and (max-width: 1120px) {
  .contactUsBox {
    background-color: black;
  }
  .connectUsContent {
    bottom: 3rem;
    right: 8rem;
  }
}

@media screen and (max-width: 800px) {
  .connectUsContent {
    bottom: 3rem;
    right: 7rem;
  }
  .headText {
    bottom: 0;
    left: 0;
  }
}
