<footer>
    <div class="contactUsBox">
        <img class="wave_class" src="../../../assets/images/wave.png" />
        <div class="iconContent">

            <div>
                <a class="footer-link" href='https://www.linkedin.com/in/pranjay-poddar/'>
                    <div class="icons">
                        <img src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png" />
                    </div>
                </a>
            </div>


            <div style="margin-top:8% ;">
                <a class="footer-link" href='https://github.com/pranjay-poddar/Swasthify'>
                    <div class="icons">
                        <img src="https://img.icons8.com/material-two-tone/30/000000/github.png" />
                    </div>
                </a>
            </div>

            <div>
                <a class="footer-link" href='https://www.instagram.com/pranjay_poddar/'>
                    <div class="icons">
                        <img src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png" />
                    </div>
                </a>
            </div>


        </div>
        <div class="main">
            <div class="middleText">

                <div class="text-center image-s">
                    <img class="rotate" src="../../../assets/images/Swasthify-logo-black.png" height="100"
                        width="100" />
                </div>
                <div>
                    <a href="https://drift.me/swasthifyinfo" style="text-decoration: none;color: inherit;">
                        <div>
                            Swasthify Support
                        </div>

                    </a>
                </div>

            </div>
            <div class="connectUsContent">

                <div class="column">
                    <a (click)="navToElement('w')" style="color: #bbbbbb;cursor: pointer;" class="footer-link">About
                        Us</a>
                    <a href="https://www.termsfeed.com/live/5c0ce90f-4043-4391-bbb7-30c3b9c09154" target="_blank"
                        class="footer-link">Privacy Policy</a>
                    <a href="https://www.termsfeed.com/live/d24c30db-05e9-49b7-99a4-53b7165ca931" target="_blank"
                        class="footer-link">Terms & conditions</a>
                </div>

            </div>
        </div>

        <div class="last-text">
            <p style="text-align: center; color: white;">©Team Swasthify 2021</p>
        </div>

    </div>
</footer>