<app-navbar></app-navbar>

<div class="hospital-login {{light}}">
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col-md-6 col-lg-5 col-sm-11 col-xs-8">
                <div class="col-md-12 col-12 text-center">
                    <h1 id="hlogin_heading" class="mobile_view">Hospital Login</h1>
                </div>
                <div class="card" [@flyInOut]>
                    <form [formGroup]="HLoginForm" class="card_container">
                        <mat-form-field>
                            <input class="ip_field"  matInput placeholder="Email" type="email" formControlName="emailId">
                            <mat-error *ngIf="email?.invalid && email?.touched">
                                Please, enter valid email address
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>

                            <span class="input-group-append" (click)="toggleFieldTextType()" style="float: right;position: absolute;margin-left: 95%;cursor: pointer;">
                                <mat-icon *ngIf="fieldTextType">visibility</mat-icon>
                                <mat-icon *ngIf="!fieldTextType">visibility_off</mat-icon>
                             </span>
                            <input class="ip_field" matInput [type]="fieldTextType ? 'text' : 'password'" placeholder="Password" formControlName="pass">


                            <mat-error *ngIf="password?.invalid && password?.touched">
                                Please enter password in correct format
                            </mat-error>
                        </mat-form-field>

                        <br>

                        <button mat-raised-button type="submit" style="margin-left: 2%;" (click)="submit()" [disabled]="HLoginForm.invalid" color="primary">Login</button>

                        <a class="forgot_pass" routerLink="/h-forget-pas">Forgot Password</a>
                    </form>
                </div>
                <div class="col-md-12 col-12 ">

                    <h3 class="text-center">Don't have an account? <a routerLink="/hospital-signup">Signup</a></h3>

                </div>
            </div>
            <div class="col-md-6 col-lg 7 col-sm-12 d-flex justify-content-center" [@expand]>
                <div class="row">
                    <div class="col-md-12 col-12 text-center">
                        <h1 id="hlogin_heading" class="hlogin_heading">Hospital Login</h1>
                    </div>
                    <div class="col-md-12 col-12 text-center">
                        <img class="image grow2" src="../../../assets/images/hospital-login.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<app-footer></app-footer>