<app-navbar></app-navbar>
<div class="container">
  <h1 class="text-center align-items-center h1-si">Services</h1>
  <hr />
</div>
<section class="sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="card" [@expand]>
          <div class="box">
            <div class="content">
              <h2>Self Analysis</h2>
              <p>Take Self Analysis Test 👇</p>
              <a routerLink="/self-analysis"
                ><span class="grow">Try Now</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="card" [@expand]>
          <div class="box">
            <div class="content">
              <h2>Resources</h2>
              <p>Check for various resources 👇</p>
              <a routerLink="/resources"><span class="grow">Try Now</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="card" [@expand]>
          <div class="box">
            <div class="content">
              <h2>Self Analysis</h2>
              <p>Take Self Analysis Test 👇</p>
              <a routerLink="/self-analysis"
                ><span class="grow">Try Now</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="card" [@expand]>
          <div class="box">
            <div class="content">
              <h2>Resources</h2>
              <p>Check for various resources 👇</p>
              <a routerLink="/resources"><span class="grow">Try Now</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
