@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
$n:'Nunito',
sans-serif;
$m:'Montserrat',
sans-serif;
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e1ecf2;
}

.wrapper {
    margin: 0px;
}

.wrapper .top_navbar {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 10;
    box-shadow: 0px 6px 6px -6px rgba(94, 94, 94, 0.5);
}

.wrapper .top_navbar .hamburger {
    width: 45px;
    height: 100%;
    background: #2e4ead;
    padding: 10px 10px;
    cursor: pointer;
    z-index: 10;
}

.wrapper .top_navbar .hamburger div {
    width: 27px;
    height: 4px;
    background: #92a6e2;
    margin: 5px 0;
    z-index: 10;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 80px);
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
    color: #2e4ead;
    font-size: 28px;
    font-weight: 1000;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #2e4ead;
    color: #2e4ead;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    background: #4360b5;
    color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i {
    color: #fff;
}

.wrapper .sidebar {
    position: fixed;
    top: 60px;
    left: 0px;
    background: #2e4ead;
    width: 200px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease;
    z-index: 10;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #92a6e2;
    display: none;
}

.wrapper .sidebar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    background: #4360b5;
    color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.main_container {
    width: calc(100% - 80px);
    margin-top: 50px;
    margin-left: 200px;
    position: relative;
    padding: 15px;
    transition: all 0.3s ease;
}

.wrapper .main_container .item {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.sidenav2 {
    width: 45px !important;
    display: inline;
}

.sidenavTitle2 {
    display: none;
    text-decoration: none;
}

.main_container2 {
    width: 105%;
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    padding: 15px;
    transition: all 0.3s ease;
}

.wrapper .main_container2 .item {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
    transition: all 0.3s ease;
}

@media (max-width:576px) {
    .main_container {
        width: calc(100% - 50px);
        margin-top: 50px;
        margin-left: 50px;
        position: relative;
        padding: 15px;
        transition: all 0.3s ease;
    }
    .main_container2 {
        width: 80%;
        margin-top: 50px;
        margin-left: 50px;
        position: relative;
        padding: 15px;
        transition: all 0.3s ease;
    }
    .sidebar {
        position: fixed;
        top: 60px;
        left: 0px;
        z-index: 10;
        // background: #2e4ead;
        width: 45px !important;
        display: inline;
        height: calc(100vh - 60px);
        transition: all 0.3s ease;
    }
    .sidenav2 {
        width: 200px !important;
        display: inline;
        z-index: 10;
        .t {
            display: inline-block;
        }
    }
    .t {
        display: none;
    }
}