<div class=" container wrapper ">

    <div class="top_navbar">
        <div class="hamburger " (click)="toggleNav()">
            <div class="one grow"></div>
            <div class="two grow"></div>
            <div class="three grow"></div>
        </div>
        <div class="top_menu ">
            <div class="logo " (click)="toggleNav()" [@expand]>
                <!-- <img src="../../../assets/images/nav-logo.png" height="50px" width="100px"> -->
                Swasthify
            </div>
            <ul>
                <li>
                    <a href="# ">
                        <i class="fas fa-search grow "></i>
                    </a>
                </li>

                <li>
                    <a href="# ">
                        <i class="fas fa-user grow "></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="sidebar {{sidenav}}" [@flyInOut]>
            <ul>
                <li>
                    <a href="# ">
                        <span class="icon "><i class=" fas fa-first-aid grow"></i></span>
                        <span class=" {{sidenavTitle}} t grow">ICU</span>
                    </a>
                </li>
                <li>
                    <a href="# ">
                        <span class="icon "><i class="fas fa-fire-extinguisher grow"></i></span>
                        <span class="{{sidenavTitle}} t grow">O2 Cylinders</span>
                    </a>
                </li>
                <li>
                    <a href="# ">
                        <span class="icon "><i class="fas fa-syringe grow"></i></span>
                        <span class="{{sidenavTitle}} t grow">Vaccine</span>
                    </a>
                </li>
                <li>
                    <a href="# " class="active ">
                        <span class="icon "><i class="fas fa-bed grow"></i></span>
                        <span class="{{sidenavTitle}} t grow">Beds</span>
                    </a>
                </li>
                <li>
                    <a href="# ">
                        <span class="icon "><i class="	fas fa-user-md grow"></i></span>
                        <span class="{{sidenavTitle}} t grow">Doctor</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/home">
                        <span class="icon "><i class="	fas fa-home grow"></i></span>
                        <span class="{{sidenavTitle}} t grow">Home</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="{{main_container}}">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 d-flex justify-content-center">
                    <div class="card first-card align-items-center">
                        <img class="card-img-top img-fluid" src="../../../assets/images/patient-dashboard.svg" alt="Card image cap">

                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 ">
                    <div class="row ">
                        <div class="col-6 d-flex justify-content-center">
                            <div class="card stats c-1 grow">
                                <h1 class="card-head text-center" [@expand]>Vaccines</h1>
                                <h1 class="card-head2 text-center" [@expand]>48</h1>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <div class="card stats c-2 grow">
                                <h1 class="card-head text-center" [@expand]>Beds</h1>
                                <h1 class="card-head2 text-center" [@expand]>39</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 d-flex justify-content-center">
                            <div class="card stats c-3 grow">
                                <h1 class="card-head text-center" [@expand]>O<sup>2</sup> Cylinders</h1>
                                <h1 class="card-head2 text-center" [@expand]>11</h1>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <div class="card stats c-4 grow">
                                <h1 class="card-head text-center" [@expand]>ICUs</h1>
                                <h1 class="card-head2 text-center" [@expand]>25</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 d-flex justify-content-center">

                    <div class="card stats3 c-5">
                        <h1 class="card-head text-center"> Services</h1>
                        <h1 class="card-head3 text-center badge badge-success grow" [@expand]>Available</h1>
                    </div>

                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 d-flex justify-content-center">

                    <div class="card stats3 c-6">
                        <h1 class="card-head text-center"> Ambulance</h1>
                        <h1 class="card-head3 text-center badge badge-danger grow" [@expand]>Not Available</h1>
                    </div>

                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 d-flex justify-content-center">

                    <div class="card stats3 c-7">
                        <h1 class="card-head text-center">Emergency</h1>
                        <h1 class="card-head3 text-center badge badge-success grow" [@expand]>Available</h1>
                    </div>

                </div>
            </div>
            <div class="item ">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!
            </div>
            <div class="item ">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!
            </div>
            <div class="item ">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!
            </div>
            <div class="item ">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!
            </div>
        </div>
    </div>
</div>