@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e1ecf2;
}

.wrapper {
    margin: 0px;
}

.wrapper .top_navbar {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0px;
}

.wrapper .top_navbar .hamburger {
    width: 45px;
    height: 100%;
    background: #2e4ead;
    padding: 10px 10px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
    width: 27px;
    height: 4px;
    background: #92a6e2;
    margin: 5px 0;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #2e4ead;
    color: #2e4ead;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    background: #4360b5;
    color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i {
    color: #fff;
}

.wrapper .sidebar {
    position: fixed;
    top: 60px;
    left: 0px;
    background: #2e4ead;
    width: 200px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #92a6e2;
    display: none;
}

.wrapper .sidebar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.wrapper .sidebar ul li a span.title {
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    background: #4360b5;
    color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.main_container {
    width: calc(100% - 200px);
    margin-top: 50px;
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
}

.wrapper .main_container .item {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .sidebar ul li a {
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
    display: none;
}

.wrapper.collapse .main_container {
    width: calc(100% - 70px);
    margin-left: 70px;
}

.sidenav2 {
    width: 45px !important;
    display: inline;
}

.sidenavTitle2 {
    display: none;
}