<app-navbar></app-navbar>

<div class="container-d {{light}}">
    <header>
        <div class="container align-items-center">
            <h1 class="text-center align-items-center h1-si">Resources</h1>
            <hr />
            <p>
                Click the tabs below to get live updated contact numbers and details of some available Oxygen Cylinders, Hospital Beds, Pharmaceuticals (Remdesivir, Fabiflu etc.), Plasma Donors, RT-PCR & information for Testing and Diagnostics Centers, Ambulance Services,
                Food Services and some important Helpline Numbers
            </p>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="card" [@expand]>
                    <div class="box">
                        <div class="content">
                            <h2>Covid Resources</h2>
                            <p>Resources from Pan India (updated every 5 mins)</p>
                            <a href="https://docs.google.com/spreadsheets/d/14E6--LRH0SwSpkJgK8tfkjH7CqzVFT9RG-mnVSGVQR0/edit#gid=0" target="_blank"><span class="grow">Try Now</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <div class="card" [@expand]>
          <div class="box">
            <div class="content">
              <h2>Medicines</h2>
              <p>Curated list of frequently required medicines</p>
              <a
                href="https://docs.google.com/spreadsheets/u/0/d/1J-m84rr-tV47wZrUKn41jlTTID5FNcMs5MwyYHt9fLU/htmlview"
                target="_blank"><span class="grow">Try Now</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <div class="card" [@expand]>
          <div class="box">
            <div class="content">
              <h2>Utilities</h2>
              <p>Instruments from DentalKart</p>
              <a
                href="https://www.dentalkart.com/"
                target="_blank"><span class="grow">Try Now</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <div class="card" [@expand]>
          <div class="box">
            <div class="content">
              <h2>Cowin</h2>
              <p>Powered By Government of India</p>
              <a
                href="https://www.cowin.gov.in/"
                target="_blank"
                ><span class="grow">Try Now</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <div class="card" [@expand]>
          <div class="box">
            <div class="content">
              <h2>Food Services</h2>
              <p>Resources from Pan India</p>
              <a
                href="https://docs.google.com/spreadsheets/d/14E6--LRH0SwSpkJgK8tfkjH7CqzVFT9RG-mnVSGVQR0/edit#gid=0"
                target="_blank"
                ><span class="grow">Try Now</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <div class="card" [@expand]>
          <div class="box">
            <div class="content">
              <h2>Aarogya Setu</h2>
              <p>Powered By Government of India</p>
              <a href="https://www.aarogyasetu.gov.in/" target="_blank"
                ><span class="grow">Try Now</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="text-center text-muted">
      ** The availability and status of certain services may differ than what
      mentioned due to high demands.
    </p>
    <p class="text-center text-muted">
      **Almost all the numbers are genuine but we do not take any responsibility
      as the numbers were obtained from different platforms.
    </p>
    <br />
  </div>
  <!-- <div class="container text-center c-class">
    <a
      href="https://www.covidsos.live/app/index.html"
      target="_blank"
      class="badge badge-info a-class"
    >
      <h2 class="h-size-a text-center">Click To Try Chat Bot</h2>
    </a>
                        </div> -->
                    </div>

                    <app-footer></app-footer>