<div class="hospital-login">
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col-md-6 col-lg-5 col-sm-11 col-xs-8">
                <div class="col-md-12 col-12 text-center">
                    <h1 id="hlogin_heading" class="mobile_view">Forgot Password</h1>
                </div>
                <div class="card">
                    <form [formGroup]="HLoginForm" [@expand]>
                        <mat-form-field>
                            <input matInput placeholder="Email" type="email" formControlName="email">
                            <mat-error *ngIf="email?.invalid && email?.touched">
                                Please, enter valid email address
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="password" placeholder="Password" formControlName="password">

                            <mat-error *ngIf="password?.invalid && password?.touched">
                                Please enter Password in correct format
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <button mat-raised-button type="submit" style="margin-left: 2%;" (click)="submit()" [disabled]="HLoginForm.invalid" color="primary">Login</button>
                    </form>
                </div>

            </div>
            <div class="col-md-6 col-lg 7 col-sm-12 d-flex justify-content-center" [@expand]>
                <div class="row">
                    <div class="col-md-12 col-12 text-center">
                        <h1 id="hlogin_heading" class="hlogin_heading">Forgot Password</h1>
                    </div>
                    <div class="col-md-12 col-12 text-center">
                        <img class="image grow2" src="../../../assets/images/Forgot-password.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<app-footer></app-footer>