<app-navbar></app-navbar>

<div class="patient-forgot {{light}}">
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col-md-6 col-lg-5 col-sm-11 col-xs-8">
                <div class="col-md-12 col-12 text-center">
                    <h1 id="plogin_heading" class="mobile_view">Forgot Password</h1>
                </div>
                <div class="card" [@flyInOut]>
                    <form [formGroup]="PForgotForm" class="password-reset-form p-3">
                        <small class="form-text text-muted text-center">We will be sending a reset link to your email</small>
                        <mat-form-field class="form-field">
                            <input matInput placeholder="Email" type="email" formControlName="email">
                            <mat-error *ngIf="email?.invalid && email?.touched">
                                Please, enter valid email address
                            </mat-error>
                        </mat-form-field>
                        <mat-checkbox class="form-field" formControlName="agree" color="primary">Are you sure, you want to reset?</mat-checkbox>
                        <br>
                        <button mat-raised-button type="submit" (click)="submit()" [disabled]="PForgotForm.invalid" color="primary">Send Reset Link</button>
                    </form>
                </div>

            </div>
            <div class="col-md-6 col-lg 7 col-sm-12 d-flex justify-content-center" [@expand]>
                <div class="row">
                    <div class="col-md-12 col-12 text-center">
                        <h1 id="plogin_heading" class="plogin_heading">Forgot Password</h1>
                    </div>
                    <div class="col-md-12 col-12 text-center">
                        <img class="image grow2" src="../../../assets/images/Forgot-password.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<app-footer></app-footer>