.main-body {
    padding: 15px;
}

#black {
    color: black;
}

.details2 {
    background-color: white;
}

.domain {
    color: white !important;
}

.cp {
    margin-top: 5vh;
}

.black {
    color: black;
}

.cp .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e9ecef;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgb(24, 24, 158) 0%, rgb(2, 95, 153) 92%);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.details {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgb(51, 51, 182) 0%, rgb(2, 95, 153) 92%) !important;
    color: white !important;
}

.text-black {
    color: black;
}

.social-svg {
    width: 45vh;
    height: 45vh;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.list-group-item a {
    width: 100%;
    overflow: scroll;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100%!important;
}

.shadow-none {
    box-shadow: none!important;
}

.text {
    color: white;
}

.text-secondary {
    color: #ffffff !important;
}

.card {
    background-color: #e9ecef !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

#black {
    color: black !important;
}

.mat-form-field {
    width: 100%;
    padding: 10px;
}

.changepass {
    padding: 15px 5px;
    width: 130px;
    color: white !important;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 756px) {
    .social-svg {
        display: none;
    }
}