<div class="container {{light}}">
    <nav class="navbar navbar-expand-lg {{navbarcolour}} bg-light">
        <a class="navbar-brand grow" routerLink="/home"><img src='../../../assets/images/nav-logo.png' height="45px" width="90px"></a>
        <a class="navbar-brand-dark grow" routerLink="/home"><img src='../../../assets/images/nav-logo-dark.png' height="45px" width="90px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <!-- <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="itemActive">Home</a> -->
                <a class="nav-link" routerLink="/hospital-login" routerLinkActive="itemActive">Hospital Login</a>
                <!-- <a class="nav-link" routerLink="/hospital-signup" routerLinkActive="itemActive">H-Signup</a> -->
                <!-- <a class="nav-link" routerLink="/hospital-dashboard" routerLinkActive="itemActive">H-Dashboard</a> -->
                <a class="nav-link" routerLink="/patient-login" routerLinkActive="itemActive">Patient Login</a>
                <!-- <a class="nav-link" routerLink="/patient-signup" routerLinkActive="itemActive">P-Signup</a> -->
                <!-- <a class="nav-link" routerLink="/patient-dashboard" routerLinkActive="itemActive">P-Dashboard</a> -->
                <!-- <a class="nav-link" routerLink="/self-analysis" routerLinkActive="itemActive">Self Analysis</a> -->
                <a class="nav-link" routerLink="/resources" routerLinkActive="itemActive">Resources</a>
                <!-- <a class="nav-link" routerLink="/our-products" routerLinkActive="itemActive">Our Products</a> -->
            </div>
        </div>
    </nav>
</div>