$blue: #7DA0FA;
$purple:#4747A1;
$lpurple:#7978E9;
$pink:#F3797E;
.mat-form-field {
    width: 100%;
    padding: 10px;
}

.patient-login {
    background-color: #f8f8f8;
    position: relative;
    padding-top: 12vh;
}

.mobile_view {
    display: none;
}

.image {
    // margin-top: 3%;
    // height: 26vw;
    // width: 36vw;
    width: 100%;
}

.card {
    padding: 1%;
    margin: 25vh 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(136, 136, 136, 0.2), 0 6px 20px 0 rgba(138, 138, 138, 0.19);
}

#plogin_heading {
    margin-top: 5%;
    font-size: 300%;
    font-weight: 550;
    color: rgb(43, 43, 43);
}

.form-container {
  padding: 1rem;
}

.forgot_pass {
  float: right;
  padding-top: 0.5rem;
  text-decoration: none;
}

.ip_field {
  padding: 0.35rem 0 !important;
}

.dark {
    background-color: #161625;
    color: #fff;
    input:-webkit-autofill {
        -webkit-text-fill-color: white;
    }
    .patient-login {
        background-color: #161625;
    }
    #plogin_heading {
        color: #fff;
    }
    .card {
        background-color: #323f4b;
        box-shadow: none;
    }
    .mat-raised-button.mat-primary.mat-button-disabled,
    .mat-raised-button.mat-button-disabled.mat-button-disabled {
        background-color: grey;
        color: #fff;
    }
    .mat-raised-button.mat-primary {
        background-color: #131417;
        color: #fff;
    }
}

@media (max-width:996px) {
    .image {
        margin-top: 5vh;
        height: 30vw;
        width: 40vw;
    }
    .card {
        padding: 1%;
        margin: 15vh 0;
    }
}

@media (max-width:768px) {
    .mobile_view {
        display: block;
    }
    .plogin_heading {
        display: none;
    }
    .card {
        margin: 10vh 0;
    }
}

@media (max-width:576px) {
    .mat-form-field {
        border-top: 1.9em !important;
        padding: 10px;
    }
    #plogin_heading {
        margin-top: 5%;
        font-size: 260%;
        font-weight: 550;
        color: rgb(43, 43, 43);
    }
    .image {
        margin-top: 3%;
        height: 65vw;
        width: 80vw;
    }
    .card {
        margin: 7vh 0;
    }
}