.switch-d {
    height: 30px;
    position: absolute;
    top: 75px;
    right: 30px;
    margin-top: 5px;
    display: flex;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    position: relative;
    height: 2.5em;
    width: 5em;
    border: 5px solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    //box-shadow: 0px 10px 25px #e4e7ec;
    transition: background-color 250ms;
}

.toggle-checkbox:checked~.toggle-slot {
    background-color: #374151;
}

.toggle-button {
    transform: translate(2.55em, 0.2em);
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(0.25em, 0.2em);
}

.sun-icon {
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    opacity: 1;
    transform: translate(0.5em, 0.25em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(1em, 0.75em) rotate(0deg);
}

.moon-icon {
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    color: white;
}

.moon-icon-wrapper {
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    opacity: 0;
    transform: translate(2em, 0.25em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.5, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2.5em, 0.25em) rotate(-15deg);
}

// ------------------toggle dark mode switch end -----------------------------------------------------
.dark {
    background-color: #161625;
    h3 {
        color: #fff;
    }
    .left-side h2 {
        color: #fff;
        font-size: 50px;
    }
    .left-side p {
        font-size: 14px;
        color: #9ea5ad;
        font-weight: 400;
    }
    .right-side img.controller {
        display: none;
        width: 90%;
    }
    .right-side img.controller-dark {
        display: inline;
        width: 90%;
    }
    .card {
        border: none;
        background-color: #161625;
        border-radius: 15px;
        margin: 30px;
    }
    .card .box {
        background: #323f4b;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    .card:hover .box {
        transform: translateY(-40px);
        background: linear-gradient(45deg, #b95ce4, #4f29cd);
    }
    .card .box .content {
        padding: 20px;
        text-align: center;
    }
    .card .box .content h2 {
        font-size: 1.8em;
        color: #fff;
        z-index: 1;
        transition: 0.5s;
    }
    .card .box .content p {
        font-size: 1em;
        font-weight: 300;
        color: #fff;
        z-index: 1;
        transition: 0.5s;
    }
    .card:hover .box .content h2,
    .card:hover .box .content p {
        color: #fff;
    }
    .card .box .content a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        background: #03a9f4;
        margin-top: 15px;
        border-radius: 20px;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    .card:hover .box .content a {
        background: #ff568f;
    }
    .jumbo-margin {
        margin: 0px;
    }
    .jumbo-margin {
        background-color: #131417;
        color: #fff;
    }
}

.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
}

.left-side {
    flex-basis: 40%;
    position: relative;
    margin-left: 20px;
}

.left-side h2 {
    font-size: 50px;
}

.left-side p {
    font-size: 14px;
    color: #918e8e;
    font-weight: 400;
}

.know-button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

.button-image {
    width: 30px;
    display: none;
}

.know-button:hover .button-image {
    display: block;
}

.know-button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left-side::after {
    content: "";
    width: 10px;
    height: 100%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -20px;
    top: 0px;
}

.right-side {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.right-side img.controller {
    width: 90%;
}

.right-side img.controller-dark {
    display: none;
    width: 90%;
}

@media only screen and (max-width: 800px) {
    .rows {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .right-side {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}

.card {
    border: none;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05) inset -5px -5px 5px rgba(255, 255, 255, 0.5) inset 5px 5px 5px rgba(0, 0, 0, 0.05) inset -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}

.card .box {
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.card:hover .box {
    transform: translateY(-40px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.card .box .content {
    padding: 20px;
    text-align: center;
}

.card .box .content h2 {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.card .box .content p {
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.card:hover .box .content h2,
.card:hover .box .content p {
    color: #fff;
}

.card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover .box .content a {
    background: #ff568f;
}

.jumbo-margin {
    margin: 0px;
}

@media only screen and (max-width: 900px) {
    .row-about-us {
        flex-direction: column;
        margin: 0px;
    }
    .about-img {
        height: 250px;
        width: 250px;
        margin-top: 35px;
    }
}

.about-img {
    margin-bottom: 20px;
}

.pa-padding {
    padding: 10px 25px;
    font-size: 23px;
    line-height: 150%;
}

.h-size {
    font-size: 40px;
}

.space {
    padding: 0px;
}

.a-link {
    text-decoration: none;
}

.container {
    padding: 5% 5%;
    max-width: none;
}

.rows {
    margin: 0;
    padding-bottom: 5%;
}

@media only screen and (max-width: 576px) {
    .rows {
        padding-top: 12%;
    }
}