<div class="container">
  <div class="row align-items-center rows">
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
      <div class="col-12 left-side">
        <h2>Swasthify</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est incidunt
          dolores dolorum dignissimos quia omnis at cumque aperiam doloribus
          vitae, eos illum nesciunt maiores.
        </p>
        <button type="button" class="know-button">
          Read More
          <img src="../../../assets/images/arrow.png" class="button-image" />
        </button>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
      <div class="col-12 right-side">
        <img src="../../../assets/images/Doctors.gif" class="controller" />
      </div>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>Hospitals</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias qui
              illum atque voluptatum fugiat inventore esse placeat iure?
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>Patients</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias qui
              illum atque voluptatum fugiat inventore esse placeat iure?
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>Services</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias qui
              illum atque voluptatum fugiat inventore esse placeat iure?
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<div class="jumbotron jumbo-margin">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 text-center h-size">Who we are?</h1>
    </div>
  </div>
  <div class="row align-items-center row-about-us">
    <div class="col-3 about-img">
      <img src="../../../assets/images/who-we-are.png" class="img-fluid grow" />
    </div>
    <div class="col-9">
      <p class="text-left para-padding">
        Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
        eum? Sit laudantium quidem commodi animi, inventore quisquam nihil quo
        delectus unde laboriosam minus ea amet autem molestias porro saepe
        repellat, libero alias facere quasi laborum, accusantium est assumenda.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
