<div class="start-box">
    <h1 mat-dialog-title class="text-center">{{ hospital.hospitalName }}</h1>
</div>
<div class="row">
    <div mat-dialog-content class="content-box">
        ICU BEDS : {{ hospital.icuBeds }}
        <br> ISOLATION BEDS : {{ hospital.isolationBeds }}
        <br> OXYGEN CYLINDERS : {{ hospital.oxygenCylinders }}
        <br> COVAXIN : {{ hospital.vaccine1 }}
        <br> COVISHIELD : {{ hospital.vaccine2 }}
        <br> CONTACT NUMBER : {{ hospital.contact }}
        <br> EMAIL : {{ hospital.emailId}}
    </div>
</div>
<div class="row">
    <div class="d-flex justify-content-center">
        <div [hidden]="hospital.contact">
            <h1 class="badge badge-info">Loading... Please Wait </h1>
        </div>
    </div>
</div>
<div mat-dialog-actions class="text-center">
    <button type="button" class="btn btn-primary infobtn grow" (click)="dialogClose()">Close</button>
</div>